@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body, .container {
    height: 100%;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 20rem 3fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: rgb(61, 133, 192);
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    gap: 50px;
    padding: 20px;
    color: white;
    z-index: 2; /* Higher z-index = more forward*/
}

.sidebar .icon {
    filter: invert(99%) sepia(1%) saturate(446%) hue-rotate(165deg) brightness(119%) contrast(100%)
}

.title {
    display: flex;
    font-size: 2rem;
    align-items: center;
    gap: 10px;
}

.title .icon {
    width: 3rem;
    height: 3rem;
}

.tabs-1, .tabs-2 {
    display: grid;
    gap: 20px;
    padding-left: 10px;
}

.tabs-1 > div, .tabs-2 > div {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 20px;
}

.header {
    background-color: rgb(255,255,255);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    box-shadow: 0px 2px 5px 2px rgb(201, 201, 201); /* negative spread radius hides the top border shadow*/
    z-index: 1;
}

.header-1, .header-2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header-2 {
    padding: 0px 30px;
}

.searchbar {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.searchbar > div {
    height: 1.5rem;
    min-width: 15rem;
    width: 80%;
    border-radius: 1rem;
    background-color: rgb(211, 211, 211);
}

.profile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

.profile-photo {
    min-height: 3rem;
    min-width: 3rem;
    background-color: grey;
    border-radius: 3rem;
}

.profile-name {
    /* Left empty to remind there's this class */
}

.greeting {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-photo-2 {
    min-height: 5rem;
    min-width: 5rem;
    background-color: grey;
    border-radius: 5rem;
}

.message > div:nth-child(2){
    font-size: 1.5rem;
}

.header-2-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header-2-buttons > div {
    min-height: 2rem;
    min-width: 5.5rem;
    border-radius: 3rem;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 2rem 1rem;
    background-color: rgb(227, 232, 239);
}

.project-section {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 2.5rem;
}

.project-section > div:first-child,
.announcement-section > div:first-child,
.trending-section > div:first-child { /* Select project section title*/
    font-size: 1.5rem;
    font-weight: bolder;
}

.project-all-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-grid {
    display: grid;
    align-items: start;
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    border-left: 10px solid orange; /* Sets the left side of the project grid orange*/
    box-shadow: 2px 3px 5px 0px rgb(201, 201, 201);
}

.project-content {
    display: grid;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.project-description {
    color: grey;
}

.project-functions {
    align-self: end;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.announcement-section, .trending-section {
    display: grid;
    grid-template-rows: 2.5rem;
}

.announcement-all-grids, .trending-all-grids {
    display: grid;
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 0px rgb(201, 201, 201);
}

.announcement-all-grids > .announcement:not(:last-child) { /* Select all div child except last*/
    border-bottom: 1px solid rgba(128,128,128, 0.5); /* rgba to set opacity of line */
}

.announcement {
    display: grid;
    align-content: center;
}

.announcement-title {
    font-weight: bold;
}

.announcement-content {
    font-size: 0.8rem;
    color: grey;
}

.trending-grid {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trending-photo {
    min-height: 3rem;
    min-width: 3rem;
    background-color: grey;
    border-radius: 3rem;
}

.trending-content > div:nth-child(2) {
    color: grey;
}