@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body, .container {
    height: 100%;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 20rem 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: rgb(69, 144, 207);
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    gap: 50px;
    padding: 20px;
    color: white;
    z-index: 2; /* Higher z-index = more forward*/
}

.sidebar .icon {
    filter: invert(99%) sepia(1%) saturate(446%) hue-rotate(165deg) brightness(119%) contrast(100%)
}

.title {
    display: flex;
    font-size: 2rem;
    align-items: center;
    gap: 10px;
}

.title .icon {
    width: 3rem;
    height: 3rem;
}

.tabs-1, .tabs-2 {
    display: grid;
    gap: 20px;
    padding-left: 10px;
}

.tabs-1 > div, .tabs-2 > div {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 20px;
}

.header {
    background-color: rgb(255,255,255);
    display: grid;
    box-shadow: 0px 2px 5px 2px rgb(201, 201, 201); /* negative spread radius hides the top border shadow*/
    z-index: 1;
}

.header-1, .header-2 {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}